body
{
    background-image:url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-cartoon-hand-drawn-street-background-design-paintedstreet-backgroundcity-roadillustration-image_64168.jpg") ;
    color:blanchedalmond;
    font-size: large;
    text-align:center;
}

